 <!-- Demo styles -->
  <style>
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .header-cats-main .header-cats {
    display: flex;
    align-content: center;
    align-items: center;
}
.header-cats-main {
    border-bottom: 1px solid #2140682b;
    padding: 0.5rem 0;
  background-color: #f6f6f4 !important;
}
    .header-cats-main .swiper-slide {
    background-color: #f6f6f4 !important;
    flex-direction: column !important;
}
.header-cats-main .header-cats p {
    font-weight: 600;
    color: #214068;
    margin: 0;
    text-align: center !important;
}

.header-cats-main .header-cats-title {border-right: 1px solid #2140682b;}
.header-cats-main .header-cats-title h2 {
    font-weight: 600;
    font-size: 28px;
    color: #214068;
    margin: 0;
    text-align: center !important;
}
    .text-with-icons__block-icon .icon {
    height: 60px !important;
    width: 60px !important;
    color: #000000;
    fill: #000000;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}
    .swiper-button-next:empty, .swiper-button-prev:empty {
      display: block;
    }
    .header-cats-main .swiper-slide a {
    text-decoration: none;
}
  </style>
<div class="header-cats">
  <div class="header-cats-title"><h2>Shop By Category</h2></div>
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
        <div class="text-with-icons__block-icon">
         <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-thumbs-up" viewBox="0 0 100 100"><path d="M16.01 54.13h20.02v35.22H16.01z"></path><path d="m36 82.72 3.84 2.63a11.53 11.53 0 0 0 6.54 2h13.91M36 58.78l2.07-1.93A10.23 10.23 0 0 0 40.26 54l7.66-15a7.4 7.4 0 0 0 .81-3.36v-8.3a2.93 2.93 0 0 1 2.92-2.94c2.41 0 5.78 1 7.92 6.18a18.63 18.63 0 0 1 1 10.5l-1.29 6.94h19A4.91 4.91 0 0 1 83.16 53a4.91 4.91 0 0 1-4.91 4.92H59.6m3.08 9.8H76a4.91 4.91 0 0 1 4.91 4.92A4.91 4.91 0 0 1 76 77.55H65.65"></path><path d="M65.65 77.55h6.12a4.92 4.92 0 0 1 4.92 4.92 4.93 4.93 0 0 1-4.92 4.92h-12.5m.33-29.5h19.47A4.92 4.92 0 0 1 84 62.81a4.91 4.91 0 0 1-4.92 4.91h-16.4m-9.49-47.66v-9.41m-5.86 11.47-6.05-7.22m2.87 12.56-9.27-1.64m27.16 1.86 9.27-1.64M59 22.26l6.05-7.21"></path></svg>    
        </div>
        <p>Bladder</p>
          </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
        <div class="text-with-icons__block-icon">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-stopwatch" viewBox="0 0 100 100"><circle cx="60.82" cy="54.12" r="4.26"></circle><path d="M46.92 78.41a28 28 0 1 0-14.08-24.28"></path><path d="M32.84 54.13a28 28 0 1 1 14.08 24.28m-12.78-9.04H11.19m27.51-6.72H23.4m15.3 13.44H23.4"></path><path d="M32.84 54.13a28 28 0 1 1 14.08 24.28m13.9-61.47v14.24m-17.98 1.51 3.08 3.99M33.27 49.27l4.96.87m13.02 30.28 1.72-4.73m17.42 4.73-1.72-4.73m16.39-7.57L80.7 65.6m7.68-16.33-4.88 1.31m-4.69-17.89-3.08 4.03M60.82 49.87V39.6M54.4 16.94h12.84"></path></svg>
          </div>
        <p>Brain</p>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
        <div class="text-with-icons__block-icon">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-sales-tag" viewBox="0 0 100 100"><path d="m69.33 23.02-16.5.11L12.5 63.46l27.35 27.22 40.33-40.33.04-16.43-10.89-10.9z"></path><circle cx="65.05" cy="38.2" r="5.51"></circle><path d="M71 24.67c3.46-6 7.64-11.82 10.22-13.91a4.93 4.93 0 0 1 3.52-1.42 3.38 3.38 0 0 1 2.78 3.14c.21 8.33-17.56 23.19-17.56 23.19M19.09 56.91l27.34 27.22"></path></svg>
          </div>
        <p>Immunity</p>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
        <div class="text-with-icons__block-icon">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tcwi-phone" viewBox="0 0 100 100"><path d="M80.63 63.49 67.77 59.9a6.69 6.69 0 0 0-.75-.16h-.33a5.65 5.65 0 0 0-4.43 1.5l-3.95 3.66-.2.2c-.31.32-1.89 1.75-4.34.05l-.22-.15a73.21 73.21 0 0 1-19.1-19.2s-1.35-2 .17-3.56l4.24-4.48.17-.17c.3-.29 1.69-1.87.92-5.22l-3.37-12.71a5.77 5.77 0 0 0-1-2.1 5.31 5.31 0 0 0-3.16-1.95h-.25a22.6 22.6 0 0 0-6.35-.5 5.69 5.69 0 0 0-1.8.55 16.31 16.31 0 0 0-9 14.7 44 44 0 0 0 2 12 54.47 54.47 0 0 0 9.2 16.66s9.33 12.22 21.66 19.57a63.37 63.37 0 0 0 14.8 5.93s7 1.65 12.59-.54c0 0 7-2.43 9.5-8.56a5.37 5.37 0 0 0 .39-1.85 21.32 21.32 0 0 0-.77-5.8s-1.04-3.55-3.76-4.28Z"></path></svg>
          </div>
      <p>Arthritis</p>  
        </a>
      </div>
    </div>
      <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      breakpoints: {
        "@0.00": {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        "@0.75": {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        "@1.00": {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        "@1.50": {
          slidesPerView: 4,
          spaceBetween: 50,
        },
      },
    });
  </script>

{% schema %}
  {
    "name": "header-cats",
    "class": "header-cats-main page-width",
    "settings": [],
    "presets": [
      {
        "name": "header-cats"
      }
    ]
  }
{% endschema %}